
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');



:root{
    --cor-primaria: white;
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    
    background-color: var(--cor-primaria);
    color: black;
    box-sizing: border-box;
    

}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 10%;
    gap:40px;
    
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 10px;
   
   
}
.apresentacao__conteudo__titulo{
    font-size: 3.00rem;
    font-family: 'Inter', sans-serif;
    position: absolute;
    left: 130px;
    top: 40px;
    

    
}
.cabecalho__menu{
    display: flex;
    gap: 30px;
    font-size: 32px;
    padding-left: 10px;
    
}
.cabecalho{
    padding: 3% 0% 0% 40% ;
    
}
.cabecalho__menu__link{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    text-decoration: none;
    
}


.espaco{
    margin: 15px;
}
.apresentacao__conteudo__texto{
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}
.apresentacao__links__navegacao{
    /* background-color: #BF3030;*/
    width: 50%;
    text-align: center;
    border-radius: 13px;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #F28705;
    padding: 13px 0;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: transform .3s linear;
    
}
.apresentacao__links__link:hover{
    transform: scale(1.2);
    background-color: var(--cor-hover);
    cursor: pointer;
    height: 100%;
}
.foto_kaneda{
    background-image: url(/Kaneda-info/img/kaneda.jpg);
    background-size: cover;
    width: 50%;
    height: 500px;
    border-radius: 32px;
    left: 100px;
}
.image{
    
    width: 400px;
    height: 500px;
    border-radius: 32px;
    left: 200px;
}
.icons{
  width: 30px;
  height: 30px;
    
}

strong{
    color:#F28705  ;
}
.rodape{
     
     color: black;
     text-align: center;
     padding: 24px;
     font-family: var(--fonte-secundaria);
    
}
.botao_cima{
    width: 15%;
    text-align: center;
    border-radius: 13px;
    text-decoration: none;
    font-size: 1.3rem;
    background-color: #F28705;
    border: none;
    padding: 11px 0px;
    color: white;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    gap: 10px;
    transition: transform .3s linear;
    position: absolute;
    left: 1040px;
    top: 30px;
}
